@import "tailwindcss";

:root {
  --header-height: 64px;
  --footer-height: 96px;
  --accent-orange: #FE6C0E;
  --accent-purple: #7F30FF;
  --accent-highlight: #C7FF1E33;
  --accent-highlight-2: #F6F8EC;

}

@layer components {
  .hero-button {
    background: linear-gradient(180deg, #955CFF 0%, #7F30FF 112.5%);
    box-shadow: 0 20px 20px 0 rgba(127, 48, 255, 0.20), 0 4px 0 0 #460DA3;

    @apply py-3 px-6 rounded-lg flex items-center justify-center text-white font-medium
  }
}